#html {
    /* 
    This width and height are stuff you would know 
    from the image sprite (every image on the sprite has a width and height)  
    */
    width: 500px;
    height: 500px;
    background-image: url('sprite.png');
    /* 
    We'll use background-position to move the images over 
    and properly position them  
    */
    background-position: -287px -20px;
}

#css {
    width: 1000px;
    height: 300px;
    background-image: url('sprite.png');
    background-position: -797px -10px;
}